
.header{
    height: 80px;
    background: #FFFFFF; 

}

.portfolio-header-container {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.btn-list{
    list-style:none ;
    display: flex;
}
.button-secondary {
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-right: 30px;
}

.button-secondary:hover,
.button-secondary:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.icon-list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.portfolio-sample {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-info {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}